<h1>Menú información entre componentes MVC</h1>
@*Esto es un comentario en RAZOR*@
@* @{
    int numero = 14;
    String text = "Texto generado en Razor";
} 

<h3 style="color:red">@text</h3>

@if (numero > 0)
{
    numero = numero + 99;
    <p>Positivo, todo esto es en html</p>
}
else { 
<p>Negativo, todo html de nuevo</p>
}

@for (int i = 1; i <= 6; i++)
{
    int v = i * 2;
    <h2> @i x 2 = @v</h2>
}*@

<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Informacion"
           asp-action="InformacionControllerView">
            Enviar Info Controller -- View
        </a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Informacion"
           asp-action="InformacionControllerViewModel">
            Enviar Model Controller -- View
        </a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Informacion"
           asp-action="InformacionGetViewController"
           asp-route-nombre="Alumno Core GET"
           asp-route-edad="23">
            Get info de View -- Controller
        </a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Informacion"
           asp-action="InformacionPostViewController">
            Post info de View -- Controller
        </a>
    </li>
</ul>