<h1>Controller -- view</h1>

<a asp-controller="Informacion"
   asp-action="Index">
    Volver al menu
</a>

<hr/>

<h2 style="color:blue">
    Nombre: @ViewBag.Nombre
</h2>
<h2 style="color:brown">Descripción: @ViewBag.Descripcion</h2>
<h2 style="color:chartreuse">Año: @ViewBag.Year</h2>