<h1 style="color:deeppink">
    Información Get View Controller
</h1>
<a asp-controller="Informacion"
   asp-action="Index">
    Volver al menu
</a>
<hr/>



<h2>Datos recibidos: @ViewBag.Nombre, @ViewBag.Edad</h2>
