@model Coche

<h1 style="color:deeppink">
    Marca: @Model.Marca, Modelo: @Model.Modelo
</h1>
<img src="~/images/VWEscarabajo.jpg"
     style="width:300px; height: 300px" />
<h2 style="color:forestgreen">
    Velocidad máxima: @Model.VelocidadMaxima
</h2>
