@model Coche

<h1 style="color:deeppink">
    Marca: @Model.Marca, Modelo: @Model.Modelo
</h1>
<h1 style="color:rebeccapurple">
    Velocidad actual: @Model.Velocidad
</h1>
<img src="~/images/@Model.Imagen"
     style="width:400px; height: 300px" />
<h2 style="color:forestgreen">
    Velocidad máxima: @Model.VelocidadMaxima
</h2>
