<h1>Menú de comics</h1>
<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Practicas"
           asp-action="EjemploColecciones">
            Mostrar lista de comics
        </a>
    </li>
</ul>
