<h1>Menú de practicas</h1>
<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Practicas"
           asp-action="EjemploColecciones">
            Mostrar lista de comics
        </a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Practicas"
           asp-action="SumarNumerosGet">
            Sumar numeros GET
        </a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Practicas"
           asp-action="SumarnumerosPost">
            Sumar numeros POST
        </a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Practicas"
           asp-action="TablaMultiplicar">
            Tabla de multiplicar
        </a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Matematicas"
           asp-action="ConjeturaCollatz">
            Conjetura Collatz
        </a>
    </li>
</ul>
